/* bellow 1100px */
@media (max-width: 68em) {
  .hero {
    flex-direction: column;
    gap: 1rem;
  }
  .hero-left {
    align-items: center;
  }
  .heading-text {
    text-align: center;
    font-size: 2.8rem;
  }
  .hero-right {
    display: flex;
    justify-content: center;
  }
  .featured-img {
    min-width: 100%;
  }
  .section {
    flex-direction: column;
  }
  .article-head {
    text-align: center;
  }
}

@media (max-width: 50em) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .header-part-1 {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header-part-2 {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .article-post-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .article-image {
    width: 100%;
  }
  .article-img {
    width: 100%;
  }
  .article-text {
    align-items: center;
  }
  .article-text,
  .article-heading,
  .travel {
    text-align: center;
  }
  .page-number {
    margin-top: 2rem;
    margin-bottom: 0;
    justify-content: center;
  }
  .container-about {
    align-items: center;
  }
  .hero-author {
    align-items: center;
  }
  .contact-us {
    flex-direction: column;
  }
  .contact-us-right {
    width: 100%;
    height: 45rem;
  }
  .footer-text {
    font-size: 1.2rem;
    text-align: center;
  }
}
